@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,600;1,200;1,600&display=swap");

:root {
    --light: #eee;
    --dark: #222;

    --primary: #12c2e9;
    --primary-darkness: #0089a8;
    --secondary: #c471ed;
    --tertiary: #f64f59;

    --content: #00000099;
    --status-bar: #ffffff22;
}

* {
    font-family: "Source Sans Pro";
    margin: 0;
    outline: none;
    border: none;
}

body {
    background: var(--primary);
    background: -webkit-linear-gradient(to right, var(--primary), var(--secondary), var(--tertiary));
    background: linear-gradient(to right, var(--primary), var(--secondary), var(--tertiary));
}

input {
    font-size: 1.2rem;
    padding: 5px;
}

button {
    background-color: var(--primary);
    font-size: 1.2rem;
    padding: 5px 10px;
}
button:hover,
button:focus {
    box-shadow: 0 0 10px black;
    font-weight: bold;
}
button:active {
    color: var(--primary-darkness);
    background-color: var(--light);
}
